html,
body {
	height: 100%;
	background-color: #333;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
	font-size: 16px;
	line-height: 24px;
}
a {
	color: #794f45;
}
h1 {
	font-size: 40px;
	line-height: 1;
	margin: 0px 0px 50px 0px;
}
h2 {
	font-size: 30px;
	line-height: 1;
	margin: 0px 0px 20px 0px;
}
ul {
	list-style: none;
}

/*==========*/
/*==========*/
/*==========*/
.wrapper {
	min-height: 100%;
	display: grid;
	grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr; /*... /1fr т.к. одна колонка */
	grid-template-areas:
		"header"
		"main"
		"footer";
}

/*==================*/
/*===== HEADER =====*/
/*==================*/
.header {
	grid-area: header;
	padding: 15px;
	background-color: #010101;
	display: grid;
	align-items: center;
	grid-template: 1fr/ 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
}

.header__logo {
	grid-column: 2 / 3;
}
.header__menu {
	grid-column: 3 / 4;
}
.header__list {
	display: grid;
	grid-auto-flow: column;
	justify-items: end;
	li {
		padding: 0px 0px 0px 30px;
	}
}
.header__link {
	color: #fff;
	font-size: 20px;
}
.header__burger {
}

/*================*/
/*===== MAIN =====*/
/*================*/
.main {
	padding: 30px 15px;
}

/*= SIDEBAR =*/
.sidebar {
	padding: 20px;
	margin: 0px 0px 30px 0px;
	background-color: #010101;
}
.sidebar__menu {
	padding-top: 10%;
}
.sidebar__list {
	text-align: center;
	li {
		margin: 0 0 15px 0;
	}
}
.sidebar__link {
	color: #fff;
	font-size: 20px;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

/*= CONTENT =*/
.content {
}
.content__title {
}
.content__description {
	color: #fff;
	font-size: 18px;
	margin-bottom: 20px;
}
.content__gallery {
	margin: 0px 0px 30px 0px;
}
.gallery {
}
.gallery__title {
}
.gallery__items {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.gallery__item {
	position: relative;
	padding: 0px 0px 85% 0px;
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.gallery__item_big {
}

.content__products {
}
.products__title {
}
.products__items {
	display: grid;
	column-gap: 30px;
	row-gap: 50px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /*Автозаполнение*/
	grid-auto-rows: 1fr; /*Делаем карточки отзывчивыми. Напр. увеличив текст в одной карточке, остальные подстроятся под новый размер*/
}
.products__item {
	display: grid;
	grid-auto-flow: row; /*Автовыравнивание по вертикали*/
	grid-template: auto 1fr minmax(40px, 1fr) / 1fr; /*картинка текст кнопка / ширина колонки*/
}
.products__image {
	position: relative;
	padding: 0px 0px 90% 0px;
	margin: 0px 0px 20px 0px;
	img {
		/*адаптивность картинок*/
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.products__name {
	font-size: 24px;
	color: #fff;
	line-height: 24px;
	margin: 0px 0px 20px 0px;
}
.products__button {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 7px 20px 0px;
	background-color: crimson;
	text-align: center;
	justify-self: start;
}

/*==================*/
/*===== FOOTER =====*/
/*==================*/
.footer {
	display: grid;
	grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr; /*строка/колонка*/
	grid-area: footer;
	padding: 15px;
	background-color: #010101;
	align-items: center;
}
.footer__copy {
	grid-column: 2 / 3;
}
.footer__text {
	grid-column: 3 / 4;
	text-align: right;
}

/*=================*/
/*===== Media =====*/
/*=================*/
@media (min-width: 992px) {
	.main {
		display: grid;
		grid-area: main;
		grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr; /*строка/колонка*/
	}
	.content {
		grid-column: 3 / 4;
		padding: 0px 0px 0px 30px;
	}
	.sidebar {
		margin: 0;
		grid-column: 2 / 3;
	}
}
@media (min-width: 767px) {
	.gallery__item_big {
		grid-column: span 2;
		grid-row: span 2;
	}
}
@media (max-width: 992px) {
	.sidebar__menu {
		padding-top: 0px;
	}
	.sidebar__list {
		text-align: center;
		li {
			margin: 0 0 15px 0;
		}
	}
	.sidebar__link {
		color: #fff;
		font-size: 20px;
	}
}
