*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* Сброс курсора, т.к. у нас будет кастомный*/
	cursor: none !important;
}

@font-face {
	font-family: "Oswald";
	src: url("../fonts/Oswald-Regular.woff") format("woff");
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Marriweather";
	src: url("../fonts/Merriweather-Light.woff") format("woff");
	font-weight: 300;
	font-display: swap;
	font-style: normal;
}

body {
	min-width: 320px;
	font-family: "Oswald", sans-serif;
	color: #000;
	line-height: 24px;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	max-width: 100%;
}

ul {
	list-style: none;
}

// * {
// 	outline: 1px solid red;
// }

.site-container {
	overflow: hidden;
	// position: relative;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	/* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.preloader {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10000;
	overflow: hidden;
	display: flex;
	//display: none;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: #b1b3b2;
}

.preloader__back {
	font-family: "Merriweather", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 360px;
	line-height: 453px;
	color: #fff;
	opacity: 0;
	transform: translateX(7%);
	transition: opacity 0.3s ease-in-out;
	animation: preloader 20s linear;
}

@keyframes preloader {
	0% {
		transform: translateX(7%);
	}
	100% {
		transform: translateX(-100%);
	}
}

.preloader__forward {
	margin: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	font-family: "Merriweather", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 72px;
	line-height: 91px;
	transform: translate(-50%, -20%);
	opacity: 0;
	transition: opacity 0.3s cubic-bezier(0.77, 0.125, 0.265, 1.04),
		transform 0.3s cubic-bezier(0.77, 0.125, 0.265, 1.04);
}

.preloader__background {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 330px;
	height: 220px;
	z-index: -1;
	transform: translate(-50%, -50%);

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 0;
		height: 100%;
		background-color: #fff;
		transition: width 0.7s cubic-bezier(0.77, 0.125, 0.265, 1.04);
	}
}

.preloader-animation {
	& .preloader__back {
		opacity: 0.15;
	}

	& .preloader__forward {
		opacity: 1;
		transform: translate(-50%, -50%);
	}

	& .preloader__background {
		&::before {
			transition-delay: 0.5s;
			width: 330px;
		}
	}
}

.preloader-hidden {
	& .preloader__back {
		opacity: 0;
		transition: opacity 0.3s cubic-bezier(0.77, 0.125, 0.265, 1.04),
			transform 0.3s cubic-bezier(0.77, 0.125, 0.265, 1.04);
	}

	& .preloader__background {
		&::before {
			width: 0;
		}
	}

	& .preloader__forward {
		opacity: 0;
		transition-delay: 0.5s;
		transform: translate(-50%, -50%);
		transition: opacity 0.3s ease-in-out;
	}
}

.preloader-none {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.mouse {
	position: fixed;
	top: 0;
	left: 0;
	width: 45px;
	height: 45px;
	border-radius: 100%;
	z-index: 9999999;
	pointer-events: none;

	&__view {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 80px;
		height: 80px;
		z-index: 10;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 18px;
		line-height: 18px;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: #fff;
		background-color: #000;
		border-radius: 100%;
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
	}

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 2;
		transform: translate(-50%, -50%);
		width: 35px;
		height: 35px;
		border-radius: 100%;
		background: #d7d7d7;
		box-shadow: 4px 4px 4px #cccaca;
		transition: opacity 0.3s ease-in-out;
	}

	&::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 55px;
		height: 55px;
		background: #cdcdcd;
		border-radius: 100%;
		transition: opacity 0.3s ease-in-out;
	}
}

.view-visible {
	& .mouse__view {
		opacity: 1;
		transition: opacity 0.3s ease-in-out;
	}
}

.links-visible {
	&::after {
		border: 4px solid #cdcdcd;
		transform: translate(-50%, -50%) scale(0.5);
		background-color: transparent;
		transition: 0.3s;
	}

	&::before {
		opacity: 0;
	}
}

.container {
	width: 100%;
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 15px;
}

.header {
	position: absolute;
	left: 0;
	top: 0;
	//top: -14%;
	width: 100%;
	z-index: 20;
	min-width: 320px;
	padding: 30px 0;
	opacity: 0;
	transform: translateY(100px);
}

.header__container {
	display: flex;
	align-items: center;
}

.logo {
	display: inline-flex;
	align-items: center;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.logo__letter {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: #000;
	border-radius: 100%;
	width: 37px;
	height: 37px;
	margin-right: 10px;
}

.nav__list {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
}

.nav__item {
	&:not(:last-child) {
		margin-right: 63px;
	}
}

.nav__link {
	text-transform: uppercase;
	letter-spacing: 1px;
}

.header__burger {
	margin-left: auto;
}

.burger {
	position: relative;
	width: 60px;
	height: 9px;
	border: none;
	padding: 0;
	cursor: pointer;
	background-color: transparent;

	&:before,
	&::after {
		content: "";
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: #000;
	}

	&::before {
		top: 0;
	}

	&::after {
		bottom: 0;
	}
}

.header__nav {
	margin-left: 15%;
}

// .main-wrapper {
// 	padding-top: 300px;
// }

.main-section {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	min-height: 750px;
	transition: background-color 1s;

	&__explore {
		letter-spacing: 1px;
		text-transform: uppercase;
		opacity: 0;
		transform: translateY(100px);
	}
}

.slide-1 {
	background-color: #b1b3b2;
}

.slide-2 {
	background-color: #f1f1f1;
}

.slide-3 {
	background-color: #b5b7b4;
}

.slide-4 {
	background-color: #b5b8c2;
}

.slide-5 {
	background-color: #c4c3c0;
}

.wrapper {
	position: relative;
	z-index: 100;
	display: flex;
	justify-content: space-between;
}

.slides-container__left {
	position: relative;
	width: 48%;
	flex-shrink: 0;
	padding-top: 67px;
}

.slides-container__slide {
	position: absolute;
	z-index: 20;
	width: 100%;
	left: 0;
	top: calc(67px + 50px);
	pointer-events: none;
	//opacity: 0;

	&--active {
		pointer-events: auto;
		opacity: 1;
	}
}

.slides-container__text {
	width: 100%;
	position: relative;
	flex-shrink: 0;
}

.slides-container__title {
	margin: 0;
	margin-bottom: 71px;
	font-family: "Merriweather", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 112px;
	line-height: 130px;
	color: #fff;
	opacity: 0;
	transform: translateY(100px);

	&--dark {
		color: #000;
	}
}

.designers-info {
	display: flex;
	opacity: 0;
	transform: translateY(100px);

	&__descr {
		margin-left: 30px;
	}

	&__country {
		letter-spacing: 1px;
		text-transform: uppercase;
		margin-bottom: 10px;
	}

	&__by {
		font-size: 14px;
		line-height: 18px;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: #727272;
	}
}

.shapes {
	position: absolute;
	right: 0;
	top: 0;
	width: 33.5%;
	height: 100%;

	&__content {
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	&__item {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		opacity: 0;

		&--current {
			opacity: 1;
			z-index: 11;
		}
	}
}

.slide-bg {
	overflow: hidden;
	position: relative;
	flex-shrink: 0;
	height: 560px;
	width: 57.4%;
	margin-left: -5.4%;

	&__inner {
		position: absolute;
		top: 0;
		right: 0;

		width: 100%;
		height: 100%;
		overflow: hidden;
		pointer-events: none;
		opacity: 0;

		&--current {
			opacity: 1;
			z-index: 11;
			pointer-events: auto;
		}
	}

	&__link {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
}

.index {
	z-index: 10;
}
